@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

 -header {
  padding: 20px;
  border-bottom: 2px solid white;
}
 -header img {
  float: left;
}
 -header -about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
 -header -with {
  font-weight: bold;
  font-size: 16px;
}
 -header -num-messages {
  color: #92959E;
}
 -header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
  /* {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
} */
  .message-data {
  margin-bottom: 10px;
}
  .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  font-size: 12px;
}

.message-data-name {
  font-size: 12px;
}

  .message {
  color: white;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 7px;
  margin-bottom: 10px;
  max-width: 90%;
  position: relative;
}
  .message:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom: 1px solid #2d9135;
  border-width: 10px;
  margin-left: -10px;
}

.Smessage {
color: white;
padding: 10px 15px;
line-height: 20px;
font-size: 12px;
border-radius: 7px;
margin-bottom: 10px;
max-width: 100%;
position: relative;
}

/* .Smessage:after {
bottom: 100%;
left: 20px;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-bottom: 1px solid #2d9135;
border-width: 10px;
margin-left: -10px;
} */

.my-message {
  background: black;
  border: 2px solid #2d9135;
  color:#dbdbdb;
}
  .other-message {
  background: #2d9135;
  color:black;
}
  .other-message:after {
  border-bottom-color: #2d9135;
  left: calc(100% - 20px);
}

.score-message {
  background: #13701a;
  color:black;
  width: 100%;
  /* left: calc(50%); */
  }
  
  
 -message {
  padding: 30px;
}
 -message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 12px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
 -message .fa-file-o,  -message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
 -message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
 -message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #2d9135;
}

.offline {
  color: #E38968;
}

.me {
  color: #2d9135;
  font-size: 10px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
