{% extends 'snapinsight/base.html' %}
{% block content %}

<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Company </h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Company</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-section" id="overview">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Service name</h2>
                <p class="lead">Service descriptionService descriptionService descriptionService descriptionService descriptionService description</p>
                <ul class="list-unstyled arrow">
                  <li>some point 1</li>
                  <li>some point 2</li>
                  <li>some point 3</li>
                  <li>some point 4</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center><hr style="width:90%"></center>
      <div class="offset-xl-1 col-xl-10">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="section-block">
              <center><h3 class="text-uppercase">Service Pricing Table</h3></center>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-header bg-primary text-center p-3 ">
                <h4 class="mb-0 text-white"> Basic</h4>
              </div>
              <div class="card-body text-center">
                <h1 class="mb-1">$150</h1>
                <p>Per Month Plateform</p>
              </div>
              <div class="card-body border-top">
                <ul class="list-unstyled bullet-check font-14">
                  <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                  <li>Guaranteed follower growth for increas brand awareness.</li>
                  <li>Daily updates on choose platforms</li>
                  <li>Stronger customer service through daily interaction</li>
                  <li>Monthly progress report</li>
                  <li>1 Million Followers</li>
                </ul>
                <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-header bg-info text-center p-3">
                <h4 class="mb-0 text-white"> Standard</h4>
              </div>
              <div class="card-body text-center">
                <h1 class="mb-1">$350</h1>
                <p>Per Month Plateform</p>
              </div>
              <div class="card-body border-top">
                <ul class="list-unstyled bullet-check font-14">
                  <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                  <li>Guaranteed follower growth for increas brand awareness.</li>
                  <li>Daily updates on choose platforms</li>
                  <li>Stronger customer service through daily interaction</li>
                  <li>Monthly progress report</li>
                  <li>2 Blog Post & 3 Social Post</li>
                  <li>5 Millions Followers</li>
                  <li>Growth Result</li>
                </ul>
                <a href="#" class="btn btn-secondary btn-block btn-lg">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-header bg-primary text-center p-3">
                <h4 class="mb-0 text-white">Premium</h4>
              </div>
              <div class="card-body text-center">
                <h1 class="mb-1">$550</h1>
                <p>Per Month Plateform</p>
              </div>
              <div class="card-body border-top">
                <ul class="list-unstyled bullet-check font-14">
                  <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                  <li>Guaranteed follower growth for increas brand awareness.</li>
                  <li>Daily updates on choose platforms</li>
                  <li>Stronger customer service through daily interaction</li>
                  <li>Monthly progress report & Growth Result</li>
                  <li>4 Blog Post & 6 Social Post</li>
                </ul>
                <a href="#" class="btn btn-secondary btn-block btn-lg">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">Additional Feature List</h5>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">Keyword List</h5>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}