{% extends 'snapinsight/base.html' %}
{% block content %}


<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h3 class="mb-2">Runner </h3>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tasks</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-xl-10 col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <form>
            <div class="form-group">
              <input class="form-control text-center" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-block">
            <h5 class="section-title">Main Documents</h5>
            <p>All documents uploaded under the section main in projects file appear here here</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-block">
            <h5 class="section-title">Design/ Graphic related Documents</h5>
            <p>Upload all files related to graphics, design, animation</p>
          </div>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-block" id="headerfooter">
            <h3 class="section-title">Full design</h3>
            <p>Add an optional header and/or footer within a card.</p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              Design 1
            </div>
            <div class="card-body">
              <p class="card-text">Some description of this design</p>
              <a href="#" class="btn btn-primary">Link to design</a>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              Design 2
            </div>
            <div class="card-body">
              <p class="card-text">Some description of this design</p>
              <a href="#" class="btn btn-primary">Link to design</a>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-block">
            <h5 class="section-title">Code Folders</h5>
            <p>All documents uploaded under the section main in projects file appear here here</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-block">
            <h5 class="section-title">ML project requirement files </h5>
            <p>All documents uploaded under this will be for ML</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <center>
              <div class="card-header">
                Design 1
              </div>
              <div class="card-body">
                <a href="#" class="btn btn-primary">Open Document</a>
              </div>
            </center>
          </div>
        </div>
      </div>




    </div>
  </div>

  {% endblock content %}
