{% extends 'snapinsight/base.html' %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#edit").click(function() {
      $(".addbtn").each(function() {
        $(this).slideDown("slow");
      });
      $(".inputs").each(function() {
        $(this).attr('disabled', false);
        $(this).attr('class', 'input_border inputs');
      });
      $("#close").show();
      $("#save").show();
      $(".remove").each(function() {
        $(this).show();
      });
    });
    $("#close").click(function() {
      location.reload(true);
    });
    $(".addbtn").each(function() {
      $(this).click(function() {
        var id = $(this).attr('id');
        var clone = "#clone" + id;
        var append = "#append" + id;
        $(clone).clone().prop("style", "").appendTo(append);
      });
    });
    $("#soln").click(function(){
      $('#newsoln').slideDown('slow');
      $("#soln").html("Save solution to add another");
      $("#soln").prop('disabled',true);
      $("#soln").prop("class","btn btn-dark px-3 mb-3 text-uppercase")
    });
    $('.upload').on('change', function() {
      var fileName = $(this).val();
      var fl = fileName.split("\\");
      var name = fl[fl.length - 1];
      $(this).next('.custom-file-label').html(name);
    });
  });
</script>
{% endblock script %}
{% block content %}
<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <form action="/contentwriter/resources/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <div class="d-flex justify-content-between">
              <h2 class="pageheader-title">Content Writer</h2>
              {% if user.tag == '0' or user.tag == '12' %}
              <div class="d-flex justify-content-end">
                <button style="display:none" class="btn btn-danger text-uppercase px-2 py-2 mx-3 my-2" id="close" type="button" name="button">Close</button>
                <button style="display:none" type="submit" class="btn btn-primary text-uppercase px-2 py-2 mx-3 my-2" id="save" type="submit" name="delete" value="add">Save</button>
                <button class="btn btn-dark text-uppercase px-2 py-2 mx-3 my-2" id="edit" type="button" name="button">Edit</button>
              </div>
              {% endif %}
            </div>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Resources</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Resources</h5>
              <p>Anyone can either add a file or a link to as a resource for other to download or visit.</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered second" style="width:100%">
                  <thead>
                    <tr>
                      <th>Resource Title</th>
                      <th>Course/Article/Research Links</th>
                      <th>File</th>
                      <th class="remove" style="display:none">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in resource %}
                    <tr>
                      <th>{{i.description}}</th>
                      <th>
                        <div class="d-flex justify-content-start align-items-center">
                          <a href="{{i.link}}" class="btn btn-primary">Visit</a>
                          &nbsp;&nbsp;
                          {{i.link}}
                        </div>
                      </th>
                      <th>
                        <div class="d-flex justify-content-start align-items-center">
                          <a href="{{i.file}}" class="btn btn-primary">View File</a>
                          &nbsp;&nbsp;
                          {{i.file_name}}
                        </div>
                      </th>
                      <th class="remove" style="display:none">
                        <div class="d-flex justify-content-center">
                          <button type="submit" name="delete" value="{{i.id}}" class="btn btn-danger">
                            Remove
                          </button>
                        </div>
                      </th>
                    </tr>
                    {% endfor %}
                    <tr id="newsoln" style="display:none">
                      <th><input class="input_blank inputs" type="text" name="description" value="" disabled="disabled"></th>
                      <th>
                        <div class="d-flex justify-content-start align-items-center">
                          <a href="#" class="btn btn-dark">Visit</a>
                          &nbsp;&nbsp;
                          <input class="input_blank inputs" type="text" name="link" value="" disabled="disabled">
                        </div>
                      </th>
                      <th>
                        <div class="d-flex justify-content-start align-items-center">
                          <input class="btn btn-dark" type="file" name="resource_doc" />
                        </div>
                      </th>
                      <th class="remove" style="display:none">
                        <div class="d-flex justify-content-center">
                        </div>
                      </th>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Resource Title</th>
                      <th>Course/Article/Research Links</th>
                      <th>File</th>
                      <th class="remove" style="display:none">Remove</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="btn btn-primary px-3 mb-3 text-uppercase addbtn" style="display:none" id="soln">ADD New Resource</div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>'
{% endblock content %}
