{% extends 'pictionary/base.html' %}

{% block content %}

<h1>{{dice}}</h1>

<form action="/pictionary/board/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" name="correct" onclick="nextturn()">CORRECT</button>
  <button type="submit" id = "wrong" name="wrong" onclick="nextturn()" style="display: none;">WRONG</button>
</form>

<form action="/pictionary/board/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{form2.as_p}}
  <button type="submit" name="roll">ROLL</button>
</form>

<h3>{{score}}</h3><br>

<h2>{{players}}</h2>
<h2>NUMBER : {{nop}}</h2>

<b><u>TURN: {{turn}}</u></b>

<p id="demo"></p>
<p id="demo1"></p>

<button onclick="myFunction()">Show card</button>

{% endblock content %}
