{% extends 'pictionary/base.html' %}

{% block content %}

<h1>{{dice}}</h1>


<p id="demo"></p>
<p id="demo1"></p>

{% if valid == 2 %}

<script type="text/javascript">
  // alert("hu");
  myFunction();
</script>

<form action="/pictionary/board/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <!-- <button id = "st" onclick="myFunction()">Start timer</button> -->
  <button type="submit" name="correct" onclick="nextturn()">CORRECT</button>
  <button type="submit" id = "wrong" name="wrong" onclick="nextturn()" style="display: none;">WRONG</button>
</form>
{% endif %}


{% if valid == 0 %}
<form action="/pictionary/board/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{form2.as_p}}
  <button type="submit" name="roll">ROLL</button>
</form>
{% endif %}

<h3>{{score}}</h3><br>

<h2>{{players}}</h2>
<h2>NUMBER : {{nop}}</h2>

<b><u>TURN: {{turn}}</u></b>


{% if valid == 1 %}

<form action="/pictionary/board/" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  {{form3.as_p}}
  <button type="submit" name="showcard">SHOW CARD</button>
</form>
{% endif %}

<br>

{{Card}}<br>

<b>{{Word}}</b>


{% endblock content %}
