.coin {
  background: var(--color);
  z-index: 20;
  border-radius: 50%;
  border: 2px solid white;
  width: 3vh;
  height: 3vh;
  position: absolute;
  opacity: 1;
  display:none;
}
.small-coin{
  background: var(--color);
  z-index: 20;
  border-radius: 50%;
  border: 2px solid rgb(210, 210, 210);
  width: 2vh;
  height: 2vh;
  opacity: 1;
  /* display:none; */
}
.overlap{
  z-index:20;
  position:absolute;
}
.block{
  height:10vh;
}
.gamecard{
  height:8vh;
  background-color:  var(--bgcolor);
  border-radius: 5px;  
  width:50%;
  border: 0.5px solid #343a40;
}
.gamecard2{
  height:8vh;
  background-color:  var(--bgcolor);
  border: 0.5px solid #343a40;
  border-radius: 5px;
}
.place{
  font-size:1.75vw;width:90%;
}
.buy{
  height:2vh;
  background:rgba(255,255,255,0.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.in_card{
  height:8vh;
  width:100%;
  border-radius: 5px;
  border: 0.5px solid #343a40;
}
.gamecard-blank{
  height:8vh;
  border: 0.5px solid #343a40;
}
.buy-btn{
  width:40%;
  background-color:  var(--col);
  border:none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  color: white;
}
.center-image{
  background-color: white;
  z-index: +10;
  position: absolute;
  height: 46vh;
  width:70%;
  border-radius: 5px;
}
.c-img{
  height: 25vh;
}
.b8{
  height:8vh;
}
.profile{
  height:7vh;
  width:7vh;
  border-radius: 50%;
  border: 2px solid white;
}