{% extends 'snapinsight/base.html' %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#edit").click(function() {
      $(".addbtn").each(function(){
        $(this).slideDown("slow");
      });
      $(".inputs").each(function() {
        $(this).attr('disabled', false);
        $(this).attr('class', 'input_border inputs');
      });
      $("#close").show();
      $("#save").show();
    });
    $("#close").click(function() {
        location.reload(true);
    });

    $(".addbtn").each(function(){
      $(this).click(function(){
        var id = $(this).attr('id');
        var clone = "#clone"+id;
        var append = "#append"+id;
        $(clone).clone().prop("style","").appendTo(append);
      });
    });
  });
</script>
{% endblock script %}

{% block content %}

<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <form action="/marketing/email_list/" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <div class="d-flex justify-content-between">
              <h2 class="pageheader-title">Marketing</h2>
              {% if user.tag == '0' or user.tag == '4' or user.tag == '10' %}
              <div class="d-flex justify-content-end">
                <button style="display:none" class="btn btn-danger text-uppercase px-2 py-2 mx-3 my-2" id="close" type="button" name="button">Close</button>
                <button style="display:none" type="submit" class="btn btn-primary text-uppercase px-2 py-2 mx-3 my-2" id="save" type="button" name="button">Save</button>
                <button class="btn btn-dark text-uppercase px-2 py-2 mx-3 my-2" id="edit" type="button" name="button">Edit</button>
              </div>
              {% endif %}
            </div>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Email List</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Current features</h5>
              <p>Only to store a list of emails</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered second" style="width:100%">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>DOB</th>
                      <th>Mobile number</th>
                      <th>Email Id</th>
                      <th>Category</th>
                    </tr>
                  </thead>
                  <tbody id="append1">
                    {% for i in email %}
                    <tr>
                      <th><input class="input_blank inputs" type="text" name="name" value="{{i.name}}" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="dob" value="{{i.dob}}" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="mobile" value="{{i.mobile}}" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="email" value="{{i.email}}" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="category" value="{{i.category}}" disabled="disabled"></th>
                    </tr>
                    {% endfor %}
                    <tr style="display:none" id="clone1">
                      <th><input class="input_blank inputs" type="text" name="name" value="" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="dob" value="" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="mobile" value="" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="email" value="" disabled="disabled"></th>
                      <th><input class="input_blank inputs" type="text" name="category" value="" disabled="disabled"></th>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>DOB</th>
                      <th>Mobile number</th>
                      <th>Email Id</th>
                      <th>Category</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="btn btn-primary px-3 mb-3 text-uppercase addbtn" style="display:none" id="1">ADD</div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
  {% endblock content %}
