{% extends 'snapinsight/base.html' %}
{% block content %}
<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h3 class="mb-2">Marketing</h3>

            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Moodish</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              Marketing info
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Some description, instruction. Let the user add tasks in the list tab available in the right top corner of the calender and with a button to click on once it the respective task is done. Once it is done, show this task in the
                  overview page's completed tasks table.Do not display the calender, month, week, day wise. Only inthe form of the list with the segregation of days and time etc</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">List of content we want to post about</h5>
            <div class="card-body">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active"> Cras justo odio </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id='calendar1'></div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
</div>
{% endblock content %}