{% extends 'snapinsight/base.html' %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#edit").click(function() {
      $(".addbtn").each(function() {
        $(this).slideDown("slow");
      });
      $(".inputs").each(function() {
        $(this).attr('disabled', false);
        $(this).attr('class', 'input_border inputs');
      });
      $("#close").show();
      $("#save").show();
    });
    $("#close").click(function() {
      location.reload(true);
    });

    $(".addbtn").each(function() {
      $(this).click(function() {
        var id = $(this).attr('id');
        var clone = "#clone" + id;
        var append = "#append" + id;
        $(clone).clone().prop("style", "").appendTo(append);
      });
    });
  });
</script>
{% endblock script %}

{% block content %}
<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <form action="/marketing/social_snapinsight/" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <div class="page-header">
              <div class="d-flex justify-content-between">
                <h2 class="pageheader-title">{{social.0}}</h2>
                <div class="d-flex justify-content-end">
                  <button style="display:none" class="btn btn-danger text-uppercase px-2 py-2 mx-3 my-2" id="close" type="button" name="button">Close</button>
                  <button style="display:none" type="submit" class="btn btn-primary text-uppercase px-2 py-2 mx-3 my-2" id="save" type="submit" name="button">Save</button>
                  <button class="btn btn-dark text-uppercase px-2 py-2 mx-3 my-2" id="edit" type="button" name="button">Edit</button>
                </div>
              </div>
              <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{social.0}}</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              Marketing info
            </div>
            <div class="card-body" style="width:100%">
              <p>
                <textarea style="height:10vh" class="input_blank inputs" type="text" name="description" disabled="disabled">
                {{social.1}}
                </textarea>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">List of content we want to post about</h5>
            <div class="card-body">
              <div class="list-group" id="append1">
                {% for i in social.2 %}
                <div class="list-group-item list-group-item-action">
                  <input class="input_blank inputs" type="text" name="content" value="{{i}}" disabled="disabled">
                </div>
                {% endfor %}
                <div class="list-group-item list-group-item-action" style="display:none" id="clone1">
                  <input class="input_blank inputs" type="text" name="content" value="{{i}}" disabled="disabled">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="btn btn-primary px-3 mb-3 text-uppercase addbtn" style="display:none" id="1">ADD</div>
        </div>
      </div>
    </from>
    </div>
  </div>
</div>
{% endblock content %}
