{% extends 'snapinsight/base.html' %}
{% block content %}
<div class="dashboard-wrapper">
  <div class="dashboard-finance">
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h3 class="mb-2">Marketing</h3>

            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{social.0}}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">
              Marketing info
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{social.1}}</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h5 class="card-header">List of content we want to post about</h5>
            <div class="card-body">
              <div class="list-group">
                {% for i in social.2 %}
                <a href="#" class="list-group-item list-group-item-action active"> {{i}} </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id='calendar1'></div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
</div>
{% endblock content %}
