<!-- chat/templates/chat/room.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Chat Room</title>

  <link rel="stylesheet" href="{% static 'main.css' %}">

  <script type="text/javascript">
      function move(pos, score, color) {
        console.log(color);
        $(".coin").each(function(){
          $(this).remove();
        });
        time = 0;
        for (i = pos; i < score+1; i++) {
          var id = "#"+i;
          var coinid = "coin"+i;
          $('<div>').prop("class","coin").prop("id",coinid).prop("style","--color:"+color).appendTo(id);
          $("#"+coinid).delay(time*500).fadeIn();
          $("#"+coinid).delay(150).fadeOut();
          time++;
        }
        return time*500;
    }
    function removePosition(id,color){
      console.log("REMOVE");
      var num = $("#"+id).find(".color").length;
      // var num = $("#"+id+" > .color").length;
      console.log(num);
      if( num == 1){
        $("#"+id+" > #empty").remove();
      }
      else{
        // $("#"+id+" > #"+color).remove();
        var x = $("#"+id).find("#"+color).length;
        $("#"+id).find("#"+color).remove();
        console.log(x);
      }
    }
    function position(id,colors){
      $("#"+id+" > #empty").remove();
      var col = ""
      var start = '<div class="container block px-0 d-flex justify-content-center align-items-center overlap" id="empty"><div class="row overlap block mx-0 px-0">';
      if (colors.length < 3){
        col = "12";
      }
      else{
        col = "6";
      }
      var coin = "";
      for (i = 0; i < colors.length; i++) {
        coin = coin + '<div class="col-'+ col +' px-1 d-flex justify-content-center align-items-center color" id="'+colors[i]+'"><div class="small-coin" style="--color:'+ colors[i]+';"></div></div>'
      }
      var end = '</div></div>';
      $("#"+id).append(start+coin+end);
    }
    $(document).ready(function() {
      console.log("HELLO");
      var i;
      var pos = 19;
      var score = 23;
      var color = "red";
      var colors = ['red'];
      var delay = move(pos,score,color);
      $("#body").animate({opacity: 1}, delay+500, function(){
        position(score,colors);
      });
      $("#next").click(function(){
        console.log("Bhenchod");
        var pos = 13;
        var score = 16;
        var color = "black";
        var colors = ['black'];
        var delay = move(pos,score,color);
        $("#body").animate({opacity: 1}, delay+500, function(){
          position(score,colors);
        });
      });
      $("#next2").click(function(){
        console.log("Bhenchod2");
        removePosition(16,'black');
        var pos = 16;
        var score = 23;
        var color = "black";
        var colors = ['red','black'];
        var delay = move(pos,score,color);
        $("#body").animate({opacity: 1}, delay+500, function(){
          position(score,colors);
        });
      });
      $("#next3").click(function(){
        console.log("Bhenchod2");
        removePosition(23,'red');
        var pos = 23;
        var score = 27;
        var color = "red";
        var colors = ['red','black','green','yellow'];
        var delay = move(pos,score,color);
        $("#body").animate({opacity: 1}, delay+500, function(){
          position(score,colors);
        });
      });
    });
  </script>

</head>
<body id="body">
  <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:100vh">
    <div style="width:90vw">
      <div class="row">
        {% for i in info %}
        <div class="col-6">
          <div class="row">
            {% for j in i %}

            {% if j.num != -1 %}
            <div class="col-3 gamecard d-flex justify-content-center align-items-center px-0 py-0 mx-0 py-0 border border-light" id="{{j.num}}" style="--bgcolor:{{j.bgcolor}}">
              
              <!-- <div class="d-flex justify-content-center align-items-start block" style="width:100%">
                <span class="bg-light place text-uppercase text-center border border-dark">{{ j.place }}</span>
              </div> -->
              
              <span class="text-white place text-uppercase text-center font-weight-bold">{{ j.place }}</span>
              
            </div>
            {% else %}
            <div class="col-3 gamecard bg-light d-flex justify-content-center align-items-center"></div>
            {% endif %}

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<button type="button" id="next" name="button">NEXT</button>
<button type="button" id="next2" name="button">NEXT2</button>
<button type="button" id="next3" name="button">NEXT3</button>


  <textarea id="chat-log"></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">

  {{ room_name|json_script:"room-name" }}


  <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
      'ws://' +
      window.location.host +
      '/ws/chat/' +
      roomName +
      '/'
    );
    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-log').value += (data.message + '\n');
    };
    chatSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13) { // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'message': message
      }));
      messageInputDom.value = '';
    };
  </script>
</body>
</html>
