{% extends 'DHOPDW/base.html' %}
{% load static %}
{% block head %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dehankar - Add Patient - Male</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'style/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="{% static 'style/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'style/css/sb-admin-2.css' %}" rel="stylesheet">

  <style media="screen">
    .big-check{
      height:20px;
      width:20px;
      vertical-align: center;
    }
    .big-label{
      font-size:20px;
      vertical-align: center;
    }
  </style>



    <!-- <script type="text/javascript">
    $(document).ready(function () {
        $('#Vaccine').change(function () {
            if (!this.checked){
              $('#v_name').fadeOut('fast');
              $('#vacc').removeAttr('required');
              $('#cost').removeAttr('required');
            }
            //  ^
            else{
                $('#v_name').fadeIn('fast');
                $('#vacc').attr('required', '');
                $('#cost').attr('required', '');
              }

        });

        $('#p_add_btn').click(function() {
        checked = $("input[type=checkbox]:checked").length;

        if(!checked) {
          alert("You must check at least one checkbox.");
          return false;
        }

      });

        });


    </script> -->

    <script type="text/javascript">
    $(document).ready(function () {
      console.log("BCCCCC");
      $("input:checkbox[name=service]").each(function () {
                var id = $(this).attr("id");
                console.log(id);
                var cbid = "#"+id;
                var cb = $(cbid);
                console.log("c"+cb);
                var id2 = "#"+id+"_ip";
                console.log(id2);
                if ($(cbid).prop("checked") == true){
                  $(id2).fadeIn('fast');
                }
                else{
                    $(id2).fadeOut('fast');
                }
          });

          $("#p_add_btn").click(function(){
            $("input:checkbox[name=service]").each(function () {
              console.log("start");
              var id = $(this).attr("id");
              var cbid = "#"+id;
              var cb = $(cbid);
              var id2 = "#"+id+"_ip";
              if ($(cbid).prop("checked") == true){
                var nval = $(cbid).val() + "_" + $(id2).val();
                $(cbid).val("");
                $(cbid).val(nval);
              }


            });
          });

      $('#p_add_btn').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("You must check at least one checkbox.");
        return false;
      }

    });

      });



      function show_item(cb,z,x){
        d = "#"+z+"_"+x+"_ip";
        console.log(d);
        if (cb.checked){
          $(d).fadeIn('fast');
        }
        else{
          $(d).fadeOut('fast');
          }
      }

      function show_type(cb,z,x){
        d = "#"+z+"_ip_x";
        l = "#"+z+"_ip_l";
        console.log($(d));
        console.log($(l));
        console.log(x);
        if (x == 1){
          $(d).fadeIn('fast');
          $(l).fadeIn('fast');
          $(d).prop('required',true);
        }
        else if (x == 0){
          $(d).fadeOut('fast');
          $(l).fadeOut('fast');
          $(d).prop('required',false);
          }
      }

    </script>


  {% endblock head %}


  {% block content %}
  <body id="page-top">


  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <h1 class="h3 mb-2 text-gray-800 pt-3">Dehankar Hospital OPD</h1>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="btn btn-dark"><i class="fa fa-user"></i> &nbsp; &nbsp; {{ log.fname }}</span>
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#passModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Change Password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- <div class="container-fluid"> -->

          <!-- Page Heading -->
          <div class="container" style="min-height: calc(100vh - 180px)">

            <h1 class="h3 mb-2 text-gray-800">Generate Bill</h1>


            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-uppercase">Final Edit Information</h6>
              </div>

              <!-- Card Content - Collapse -->
              <!-- <div class="collapse show" id="collapseCardExample"> -->
              <form action="/DHOPD/patient_bill_h/?id={{pid}}" method="POST">
                {% csrf_token %}

                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-3">
                        <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Title</label>
                            <select class="js-example-basic-single custom-select mr-sm-2" name="title" style="width:55%;height:10vh" required>
                              <option value="" selected disabled>Select Title</option>
                              {% if patient.0.4 == "Mr." %}
                              <option value="Mr." selected>Mr.</option>
                              {% else %}
                              <option value="Mr.">Mr.</option>
                              {% endif %}

                              {% if patient.0.4 == "Ms." %}
                              <option value="Ms." selected>Ms.</option>
                              {% else %}
                              <option value="Ms.">Ms.</option>
                              {% endif %}

                              {% if patient.0.4 == "Mrs." %}
                              <option value="Mrs." selected>Mrs.</option>
                              {% else %}
                              <option value="Mrs.">Mrs.</option>
                              {% endif %}

                              {% if patient.0.4 == "Baby Girl" %}
                              <option value="Baby Girl" selected>Baby Girl</option>
                              {% else %}
                              <option value="Baby Girl">Baby Girl</option>
                              {% endif %}

                              {% if patient.0.4 == "Baby Boy" %}
                              <option value="Baby Boy" selected>Baby Boy</option>
                              {% else %}
                              <option value="Baby Boy">Baby Boy</option>
                              {% endif %}
                            </select>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">First Name</label>
                            <input type="text" name="f_name" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter FirstName" value="{{patient.0.1}}" required>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Middle Name</label>
                            <input type="text" name="m_name" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter MiddleName" value="{{patient.0.2}}">
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Last Name</label>
                            <input type="text" name="l_name" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter LastName" value="{{patient.0.3}}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                    <label class="text-uppercase" style="font-size:15px;">Address</label>
                      <textarea name="addr" class="form-control bg-light border-0 small" style="width:90%;" placeholder="Enter Address">{{patient.0.5}}</textarea>
                  </div>

                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-6">
                        <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Gender</label>
                            {% if patient.0.9 == "Male" %}
                            <label class="big-label">  <input type="radio" class="big-radio" name="gender" value="Male" required checked> &nbsp; Male</label>
                            {% else %}
                            <label class="big-label">  <input type="radio" class="big-radio" name="gender" value="Male" required> &nbsp; Male</label>
                            {% endif %}
                            {% if patient.0.9 == "Female" %}
                            <label class="big-label">  <input type="radio" class="big-radio" name="gender" value="Female" checked> &nbsp; Female</label>
                            {% else %}
                            <label class="big-label">  <input type="radio" class="big-radio" name="gender" value="Female"> &nbsp; Female</label>
                            {% endif %}
                            {% if patient.0.9 == "Other" %}
                            <label class="big-label" > <input type="radio" class="big-radio" name="gender" value="Other" checked> &nbsp; Other</label>
                            {% else %}
                            <label class="big-label" > <input type="radio" class="big-radio" name="gender" value="Other"> &nbsp; Other</label>
                            {% endif %}
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Age</label>
                            <input type="number" name="age" class="form-control bg-light border-0 small" style="width:60%;" placeholder="Enter Age" required value="{{patient.0.10}}">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Impression</label>
                            <input type="text" name="imp" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Impression" required value="{{patient.0.8}}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid">
                    <div class="row">

                      <div class="col-6">
                        <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Mobile number</label>
                            <input type="tel" pattern="[0-9]{10}" name="number" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Number" required value="{{patient.0.7}}">
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                          <label class="text-uppercase" style="font-size:15px;">Place</label>
                            <input type="text" name="town" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Town" value="{{patient.0.6}}" required>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="d-flex justify-content-around mb-1" style="align-items:center;">
                    <label class="text-uppercase" style="font-size:15px;">Select Room</label>
                  </div>


                  <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                    <label class="big-label">  <input type="radio" class="big-radio" name="room" value="{{patient.0.19}}" required checked> &nbsp; {{patient.0.17}}</label><br>
                    {% for i in room %}
                      {% if i.room_bed != i.room_bed_occ and i.room_name != patient.0.17 %}
                      <label class="big-label">  <input type="radio" class="big-radio" name="room" value="{{i.room_id}}" required> &nbsp; {{i.room_name}}</label><br>
                      {% endif %}
                    {% endfor %}
                  </div> -->

                  <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                    <label class="text-uppercase" style="font-size:15px;">current Room</label>
                    <label class="big-label"> &nbsp; {{patient.0.17.0}}</label><br>
                  </div>

                  {% for j in patient.0.24 %}
                  <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                    <label class="text-uppercase" style="font-size:15px;">Previous Room</label>
                    <label class="big-label"> &nbsp; {{j}}</label><br>
                  </div>
                  {% endfor %}

                  <div class="d-flex justify-content-around mb-4" style="align-items:center;">
                    <label class="text-uppercase" style="font-size:15px;">Switch Room</label>
                    <label class="big-label">  <input type="radio" class="big-radio" name="room" value="{{patient.0.17.1}}" required checked> &nbsp; None</label><br>
                    {% for j in room %}
                      {% if j.room_bed != j.room_bed_occ and j.room_name != patient.0.17.0 %}
                      <label class="big-label">  <input type="radio" class="big-radio" name="room" value="{{j.room_id}}"> &nbsp; {{j.room_name}}</label><br>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <div class="container">
                    <div class="row">
                    {% for i,k,l in patient.0.20 %}
                      {% if i.service_id in patient.0.11 %}
                      {% if i.service_id == 1 %}

                        {% for x in patient.0.19 %}
                      <div class="col-4 mt-3">
                        <label class="big-label"><input type="checkbox" class="big-check" name="service" id="{{ patient.0.0 }}_{{ i.service_id }}xx{{x.1}}" value="{{ i.service_id }}_{{x.1}}" onclick="show_item(this,{{ patient.0.0 }},{{ i.service_id }}+'xx'+{{x.1}})" checked>&nbsp;&nbsp;&nbsp;&nbsp;{{x.0}} </label>
                      </div>
                        <div class="col-8 mt-3">
                          <div class="row" id="{{i.service_id}}_ip">
                            <div class="col-3">
                              <label class="text-uppercase" style="font-size:15px;">{{x.4}}</label>
                            </div>
                            <div class="col-3">
                              <label class="text-uppercase" style="font-size:15px;">X</label>
                            </div>
                            <div class="col-3">
                              <input type="number" min="1" name="nos" class="form-control bg-light border-0 small" id="{{ patient.0.0 }}_{{ i.service_id }}xx{{x.1}}_ip" style="width:95%;" placeholder="Enter Num" required value="{{x.2}}">
                            </div>
                            <div class="col-3">
                              <label class="text-uppercase" style="font-size:15px;">{{x.3}}</label>
                            </div>
                            </div>
                          </div>
                          {% endfor %}
                        {% else %}
                        <div class="col-4 mt-3">
                          <label class="big-label"><input type="checkbox" class="big-check" name="service" id="{{ patient.0.0 }}_{{ i.service_id }}" value="{{ i.service_id }}" onclick="show_item(this,{{ patient.0.0 }},{{ i.service_id }})" checked>&nbsp;&nbsp;&nbsp;&nbsp;{{ i.service_name }} </label>
                        </div>
                          <div class="col-8 mt-3">
                            <div class="row" id="{{i.service_id}}_ip">
                              <div class="col-3">
                                {% if i.service_id == 17 %}
                                <input type="number" min="1" name="other" class="form-control bg-light border-0 small px-0" style="width:100%;" placeholder="Enter Num" required value="{{l}}">
                                {% else %}
                                <label class="text-uppercase" style="font-size:15px;">
                                  {{i.service_cost}}
                                </label>
                                {% endif %}
                              </div>
                              <div class="col-3">
                                <label class="text-uppercase" style="font-size:15px;">X</label>
                              </div>
                              <div class="col-3">
                                {% if i.service_id == 17 %}
                                <label class="text-uppercase" style="font-size:15px;" id="{{ patient.0.0 }}_{{ i.service_id }}_ip">
                                  {{k}}
                                </label>
                                {% else %}
                                <input type="number" min="1" name="nos" class="form-control bg-light border-0 small" id="{{ patient.0.0 }}_{{ i.service_id }}_ip" style="width:95%;" placeholder="Enter Num" required value="{{k}}">
                                {% endif %}
                              </div>
                              <div class="col-3">
                                <label class="text-uppercase" style="font-size:15px;">{{l}}</label>
                              </div>
                              </div>
                            </div>
                        {% endif %}
                          {% else %}
                          {% if i.service_id == 1 %}
                            {% for x in patient.0.19 %}
                          <div class="col-4 mt-3">
                            <label class="big-label"><input type="checkbox" class="big-check" name="service" id="{{ patient.0.0 }}_{{ i.service_id }}xx{{x.1}}" value="{{ i.service_id }}_{{x.1}}" onclick="show_item(this,{{ patient.0.0 }},{{ i.service_id }}+'xx'+{{x.1}})">&nbsp;&nbsp;&nbsp;&nbsp;{{x.0}} </label>
                          </div>
                            <div class="col-8 mt-3">
                              <div class="row" id="{{i.service_id}}_ip">
                                <div class="col-3">
                                  <label class="text-uppercase" style="font-size:15px;">{{x.4}}</label>
                                </div>
                                <div class="col-3">
                                  <label class="text-uppercase" style="font-size:15px;">X</label>
                                </div>
                                <div class="col-3">
                                  <input type="number" min="1" name="nos" class="form-control bg-light border-0 small" id="{{ patient.0.0 }}_{{ i.service_id }}xx{{x.1}}_ip" style="width:95%;" placeholder="Enter Num" required value="{{x.2}}">
                                </div>
                                <div class="col-3">
                                  <label class="text-uppercase" style="font-size:15px;">{{x.3}}</label>
                                </div>
                                </div>
                              </div>
                              {% endfor %}
                            {% else %}
                            <div class="col-4 mt-3">
                              <label class="big-label"><input type="checkbox" class="big-check" name="service" id="{{ patient.0.0 }}_{{ i.service_id }}" value="{{ i.service_id }}" onclick="show_item(this,{{ patient.0.0 }},{{ i.service_id }})">&nbsp;&nbsp;&nbsp;&nbsp;{{ i.service_name }} </label>
                            </div>
                              <div class="col-8 mt-3">
                                <div class="row" id="{{i.service_id}}_ip">
                                  <div class="col-3">
                                    {% if i.service_id == 17 %}
                                    <input type="number" min="1" name="other" class="form-control bg-light border-0 small px-0" style="width:100%;" placeholder="Enter Num" required value="{{l}}">
                                    {% else %}
                                    <label class="text-uppercase" style="font-size:15px;">
                                      {{i.service_cost}}
                                    </label>
                                    {% endif %}
                                  </div>
                                  <div class="col-3">
                                    <label class="text-uppercase" style="font-size:15px;">X</label>
                                  </div>
                                  <div class="col-3">
                                    {% if i.service_id == 17 %}
                                    <label class="text-uppercase" style="font-size:15px;" id="{{ patient.0.0 }}_{{ i.service_id }}_ip">
                                      {{k}}
                                    </label>
                                    {% else %}
                                    <input type="number" min="1" name="nos" class="form-control bg-light border-0 small" id="{{ patient.0.0 }}_{{ i.service_id }}_ip" style="width:95%;" placeholder="Enter Num" required value="{{k}}">
                                    {% endif %}
                                  </div>
                                  <div class="col-3">
                                    <label class="text-uppercase" style="font-size:15px;">{{l}}</label>
                                  </div>
                                  </div>
                                </div>
                                {% endif %}
                      {% endif %}
                    {% endfor %}

                    </div>
                    </div>

                    <div class="container-fluid mt-3 mb-2">
                      <div class="row d-flex justify-content-around">
                        <div class="">
                          <label class="text-uppercase big-label" >Discount</label>
                        </div>
                        <div class="">
                          <input type="number" name="disc" class="form-control bg-light border-0 small" style="width:95%;" placeholder="Enter Discount" required value="{{patient.0.22}}">
                        </div>

                      </div>

                    </div>

                    <div class="container d-flex justify-content-center mt-5">
                      <!-- <center> -->
                      <div class="row" style="width:70%">
                        <div class="col-12 mb-3">
                          <label class="big-label" style="font-size:30px;">&nbsp;BILL</label>
                        </div>
                        <div class="col-6">
                          <label class="big-label" style="font-size:25px;">&nbsp;&nbsp;Total</label>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                          <label class="big-label">&nbsp;&nbsp;&nbsp;&nbsp;{{patient.0.13}}.0</label>
                        </div>
                        <div class="col-12">
                          <label class="big-label" style="font-size:25px;">&nbsp;&nbsp;Advance</label>
                        </div>
                        <div class="col-12">
                            <!-- <div class="container-fluid"> -->
                              <div class="row">
                                <div class="col-4">
                                    <label class="big-label">&nbsp;&nbsp;Receipt No.</label>
                                </div>
                                <div class="col-4">
                                    <label class="big-label">&nbsp;&nbsp;Date</label>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label class="big-label">&nbsp;&nbsp;Amount</label>
                                </div>
                              </div>

                              {% for i in receipt %}

                              <div class="row">
                                <div class="col-4">
                                    <label class="big-label">&nbsp;&nbsp;{{i.receipt_id}}</label>
                                </div>
                                <div class="col-4">
                                    <label class="big-label">&nbsp;&nbsp;{{i.receipt_time}}</label>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label class="big-label">&nbsp;&nbsp;{{i.receipt_cost}}</label>
                                </div>
                              </div>

                            {% endfor %}
                            <!-- </div> -->

                        </div>

                        <div class="col-12">
                            <hr style="width:30%" align="right">
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                          <label class="big-label">&nbsp;&nbsp;&nbsp;-{{patient.0.18}}</label>
                        </div>

                        <div class="col-12">
                          <label class="big-label" style="font-size:25px;">&nbsp;&nbsp;Refund</label>
                        </div>

                        <!-- <div class="container-fluid"> -->
                        <div class="col-12">
                          <div class="row">
                            <div class="col-4">
                                <label class="big-label">&nbsp;&nbsp;Refund No.</label>
                            </div>
                            <div class="col-4">
                                <label class="big-label">&nbsp;&nbsp;Date</label>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <label class="big-label">&nbsp;&nbsp;Amount</label>
                            </div>
                          </div>

                          {% for i in refund %}

                          <div class="row">
                            <div class="col-4">
                                <label class="big-label">&nbsp;&nbsp;{{i.refund_id}}</label>
                            </div>
                            <div class="col-4">
                                <label class="big-label">&nbsp;&nbsp;{{i.refund_time}}</label>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <label class="big-label">&nbsp;&nbsp;{{i.refund_cost}}</label>
                            </div>
                          </div>

                        {% endfor %}
                        <!-- </div> -->

                    </div>

                        <div class="col-12">
                            <hr style="width:30%" align="right">
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                          <label class="big-label">&nbsp;&nbsp;&nbsp;{{patient.0.23}}</label>
                        </div>
                        {% if patient.0.22 != '0' %}
                        <div class="col-6">
                          <label class="big-label" style="font-size:25px;">&nbsp;&nbsp;Discount</label>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                          <label class="big-label">&nbsp;&nbsp;&nbsp;-{{patient.0.22}}</label>
                        </div>
                        {% endif %}
                        <div class="col-12">
                          <hr>
                        </div>
                        <div class="col-6">
                          <label class="big-label" style="font-size:25px;">&nbsp;&nbsp;Remaining</label>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                          <label class="big-label">&nbsp;&nbsp;&nbsp;&nbsp;{{patient.0.15}}</label>
                        </div>
                      </div>
                      <!-- </center> -->
                    </div>
                  </div>

                  <div class="d-flex justify-content-around mb-3 mt-5">
                    <a class="btn btn-info" href="#" style="width:90%" data-toggle="modal" data-target="#receiptModal">
                        Generate Receipt
                    </a>
                  </div>
                  {% if patient.0.21 == -1 %}
                  <div class="d-flex justify-content-around mb-3 mt-5">
                    <a class="btn btn-info" href="#" style="width:90%" data-toggle="modal" data-target="#refundModal">
                        Generate Refund Receipt
                    </a>
                  </div>
                  {% endif %}
                  <div class="d-flex justify-content-around mb-3 mt-5">
                    <button type="submit" class="btn btn-primary" style="width:90%" name='p_add' id="p_add_btn">
                      Update
                    </button>
                  </div>

                  {% if patient.0.21 == 0 %}
                  <div class="d-flex justify-content-around mb-3 mt-5">
                    <button type="submit" class="btn btn-primary" style="width:90%" name='p' value="{{ patient.0.0 }}" id="p_add_btn">
                      Generate Bill
                    </button>
                  </div>
                  {% endif %}

                </form>

              <!-- </div> -->
            </div>
          </div>

        <!-- </div> -->
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->



      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class="container-fluid">
          <div class="text-right text-uppercase text-white font-weight-bold">
            <img src="{% static 'style/images/cclogo.png' %}" style="width:0.9rem;height:0.9rem" alt="CC-Logo">
            <span style="font-size:0.7rem">CoffeeCoders</span>
            <span style="font-size:0.6rem">Dehankar Hospital</span>
            <span style="font-size:0.6rem"><i class="fa fa-copyright" aria-hidden="true"></i></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Generate Receipt</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body font-weight-bold">For Patient "{{ patient.0.1 }} {{ patient.0.2 }} {{ patient.0.3 }}" :-</div>
        <!-- <hr> -->
        <form action="/DHOPD/patient_bill_h/?id={{pid}}" method="POST" target="_blank">
          {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid mb-4">
            <div class="row">

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" style="font-size:15px;">Amount Paid</label>
                    <input type="number" name="cost" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Amount" value="{{patient.0.15}}">
                </div>
              </div>

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" style="font-size:15px;">Paid By</label>
                    <input type="text" name="name" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Name" required>
                </div>
              </div>

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" style="font-size:15px;">Payment Method</label>
                    <input type="radio" id="cash1{{patient.0.0}}" name="type" value="Cash" onclick="show_type(this,{{ patient.0.0 }},0)" checked>
                    <label for="cash1{{patient.0.0}}">Cash</label><br>
                    <input type="radio" id="D.D.{{patient.0.0}}" name="type" value="D.D." onclick="show_type(this,{{ patient.0.0 }},1)">
                    <label for="D.D.{{patient.0.0}}">DD</label><br>
                    <input type="radio" id="Cheque{{patient.0.0}}" name="type" value="Cheque" onclick="show_type(this,{{ patient.0.0 }},1)">
                    <label for="Cheque{{patient.0.0}}">Cheque</label><br>
                </div>
              </div>

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" id="{{ patient.0.0 }}_ip_l" style="font-size:15px;display:none;">Enter No.</label>
                    <input type="number" name="no" id="{{ patient.0.0 }}_ip_x" class="form-control bg-light border-0 small" style="width:65%;display:none;" placeholder="Enter No">
                </div>
              </div>

            </div>

          </div>

          <center>
            <button type="submit" name="receipt" value="receipt.{{ patient.0.0 }}" class="btn btn-primary mb-3" style="width:60%;">Generate</button><br>
            </center>
            <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button> -->

        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Generate Refund Receipt</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body font-weight-bold">For Patient "{{ patient.0.1 }} {{ patient.0.2 }} {{ patient.0.3 }}" :-</div>
        <!-- <hr> -->
        <form action="/DHOPD/patient_bill_h/?id={{pid}}" method="POST" target="_blank">
          {% csrf_token %}
        <div class="modal-body">
          <div class="container-fluid mb-4">
            <div class="row">

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" style="font-size:15px;">Amount Paid</label>
                    <input type="number" name="cost" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Amount" value="{{patient.0.15}}">
                </div>
              </div>

              <div class="col-6">
                <div class="d-flex justify-content-around mb-3" style="align-items:center;">
                  <label class="text-uppercase" style="font-size:15px;">Paid To</label>
                    <input type="text" name="name" class="form-control bg-light border-0 small" style="width:65%;" placeholder="Enter Name" required>
                </div>
              </div>
              <input type="text" name="type" value="Cash" hidden>

            </div>

          </div>

          <center>
            <button type="submit" name="receipt" value="refund.{{ patient.0.0 }}" class="btn btn-primary mb-3" style="width:60%;">Generate</button><br>
            </center>
            <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button> -->

        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-dark" href="/DHOPD/logout/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="passModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passModalLabel">Change Password?</h5>
          <button class="close" type="submit" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div>
          <form class="" action="" method="post">
            <div class="mt-3">
              <center>
            <!-- <input type="text" class="form-control bg-light border-0 small" name="oldpwd" style="width:80%;" placeholder="Enter Old Password"><br> -->
            <input type="text" class="form-control bg-light border-0 small" name="newpwd" style="width:80%;" placeholder="Enter New Password"><br>
            <input type="text" class="form-control bg-light border-0 small" name="cnewpwd" style="width:80%;" placeholder="Confirm New Password"><br>
          <button class="btn btn-secondary" type="submit" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" name="change_pwd" type="submit">Change</button>
        </center>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'style/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'style/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'style/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'style/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'style/vendor/select2/select2.min.js' %}"></script>

  <script type="text/javascript">
        $(document).ready(function() {
          $('.js-example-basic-single').select2();
      });
  </script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'style/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'style/js/sb-admin-2.min.js' %}"></script>

</body>

{% endblock content %}
