.coin {
  background: var(--color);
  z-index: 20;
  border-radius: 50%;
  border: 2px solid white;
  width: 3vh;
  height: 3vh;
  position: absolute;
  opacity: 1;
  display:none;
}
.small-coin{
  background: var(--color);
  z-index: 20;
  border-radius: 50%;
  border: 2px solid white;
  width: 2vh;
  height: 2vh;
  opacity: 1;
  /* display:none; */
}
.overlap{
  z-index:20;
  position:absolute;
}
.block{
  height:10vh;
}
.gamecard{
  height:8vh;
  background-color:  var(--bgcolor);
  /* border: 3px solid white; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid white;
}
.gamecard2{
  height:8vh;
  background-color:  var(--bgcolor);
  /* border: 3px solid white; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid black;
}
.place{
  font-size:1.75vw;width:90%;
}
.price{
  background-color: rgba(255, 255, 255, 0.4);
  height:2vh;
  width:100%;
}
.just{
  width:100%;
}
.gamecard-blank{
  height:8vh;
  /* background-color:  white; */
}