<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <form action="/chat/" method="POST">
      {% csrf_token %}
      <input type="text" name="uname"size="100" required><br>
      <input type="text" name="rname"size="100" required><br>
      <input type="password" name="password"  size="100" required><br>
      <button type="submit" value="Enter"> Enter Room  </button>
      {{error}}
    </form>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            console.log(roomName);
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>
